<div class="container-fluid">
  <h1>Angular Progressive Web Application (PWA)</h1>
  <div class="row">
    <div class="text-end">
      Status:
    </div>
    <div class="col">
      <span class="bandge success" *ngIf="isOnline">Online</span>
      <span class="bandge danger" *ngIf="!isOnline">Offline</span>
    </div>
  </div>
</div>

<div class="modal" *ngIf="modalVersion">
  <div class="alert">
    <button mat-icon-button class="btn-close" (click)="closeVersion()"><mat-icon>close</mat-icon></button>
    A new version of this app is available.
    <a href="" (click)="updateVersion()">Update now</a>
  </div>
</div>

<div class="modal-platform" *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
  <div class="alert">
    <button mat-icon-button class="btn-close" (click)="closePwa()"><mat-icon>close</mat-icon></button>
    <!-- ANDROID -->
    <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
      Add this WEB app to home screen
    </div>
    <!-- IOS with Safari -->
    <div *ngIf="modalPwaPlatform === 'IOS'">
      To install this WEB app on your device, tap the "Menu" button
      <img src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png" class="ios-menu" />
      and then "Add to home screen" button
      <mat-icon>add_box</mat-icon>
    </div>
  </div>
</div>